body {
			font-family: 'Noto Sans KR', sans-serif;
			background-color: gainsboro;
			color: black;
			line-height: 1.7;
			margin-bottom: 100px;
			margin-left: 100px;
			margin-right: 100px;
		}







h1 {
			color:black;
			text-align: left;
			
		}


 .self {	
            margin-top: 10px;
            margin-bottom: 60px;
			font-size: 18px;
			text-align: center; 
			color: black;
		}


	.self a {

			text-align: left;
			color: black;
	text-decoration: none;
				}


	.self a:hover { 

	color: white;
	text-decoration: bold;


			}




a{
			text-decoration: none;
			

		}


	/*a:focus {

		color: white;
 	 /* 링크 위에 키보드 포커스가 위치한 상태 */
	}

	/*a:hover {
		color: forestgreen;
		text-decoration: bold;
  /* 링크 위에 마우스 포인터가 위치한 상태 */
				}

.box {
			
	box-align: center;
	display: inline-block;
	text-align: center;
	align-items: center;
	position: relative;
}

.fb{

	line-height: 150px;
	width: 600px;
	height: 150px;
	color: #FF5733;
	background-color: #FF5733;

}

.fb a {

	color: white;
	font-weight: bold;
	font-size: 20px;


}

.fb a:hover{

	color: #2B7A00;
	text-decoration: none;

}


.sb{

	line-height: 100px;
	text-align: center;
	width: 600px;
	height: 100px;
	color: #421302;
	background-color: #421302;

}

.sb a {

	color: white;
	font-weight: bold;
	font-size: 20px;


}

.sb a:hover{

	color: #2B7A00;
	text-decoration: none;

}

.tb{

	line-height: 300px;
	text-align: center;
	width: 600px;
	height: 300px;
	color: #FFD0BF;
	background-color: #FFD0BF;

}

.tb a {

	color: white;
	font-weight: bold;
	font-size: 20px;


}

.tb a:hover{

	color: #2B7A00;
	text-decoration: none;

}

.tib{
	
	line-height: 600px;
	width: 600px;
	height: 600px;
	color: white;
	background-color: white;

}

.tib a {

	color: black;
	font-weight: bold;
	font-size: 20px;


}

.tib a:hover{

	color: #2B7A00;
	text-decoration: none;

}



