


body {
			font-family: 'Noto Sans KR', sans-serif;
			background-color: #FFD0BF;
			color: black;
			line-height: 1.7;
			
		}

h1 {
	margin-top: 90px;
	text-align: center;
		}

details {

	text-align: left;
	margin-left: 300px;
	margin-top: 80px;
	}

summary{
	font-size: 18px;
	text-decoration: bold;
}