

body {
			font-family: 'Noto Sans KR', sans-serif;
			background-color: white;
			color: black;
			line-height: 1.7;
			text-align: center;
		}


summary {


	text-align: center;
	font-size: 20px;

		}


details { 

		margin: 1000px,300px,100px,100px;

		 }